.App {
  text-align: center;
}

.park-div {
  height: 170px;
  width:170px;
  background-size: cover;
  margin: 5px;
  cursor: pointer;
  border: 3px solid darkgray;
  border-radius: 8px;
}

.park-div:hover {
  border: 3px solid forestgreen;
}

/*
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/
